@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
html{
  scroll-behavior: smooth;
}
body{
    background-color: rgb(172, 207, 238);
    margin: 0;
    height: 100vh;
    -webkit-animation: gradient 15s ease infinite;
    animation: gradient 15s ease infinite;
    display: flex;
    flex-direction: column;
}
header{
  background-color: rgba(108, 176, 236, 0.959);
  position: fixed;
  width: 100%;
  z-index: 10;
}
.dp-menu ul{
    list-style: none;
    position: relative;
    text-align: center;
}
.dp-menu ul a{
    
    font-size: 20px;
    margin-inline: 25px;
    color: black;
    text-align: center;
    

    
}

nav a:hover{
    
    transition: .1s;
    color: rgba(38, 133, 221, 0.945);;
}
  nav {
    justify-content: center;
    padding: 10px 0;
  }

  nav a {
    text-decoration: none;
    margin: 0 20px;
    font-weight: bold;
    transition: color 0.3s ease;
    padding: 2px;
  } 
h1{
    text-align: center;
    color: #000000;
    margin-top: 10%;
    font-family: bold;
    font-size: 3rem;
}
p{
    color: #000000;
    text-align: center;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
footer{
    margin-top: 25%;
    background-color: rgb(107, 103, 103);
    padding: 50px;
    
    
}

.input{
    width: 25%;
    height: 50px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.315);
    font-size: 15px;
    outline: none;
    border-color: rgba(0, 0, 0, 0.445);
    position: relative;
    align-items: center;
    justify-content: center;
    margin-left: 35%;
    margin-top: 10%; 
    background-color: rgba(0, 0, 0, 0);
    
}

.input:focus{
    border-color: rgb(9, 132, 180);
}
.input:hover{
    transition: .2s;
    
}
.bt{
    border-radius: 5px;
    border: 1px solid;
    border-color: #9e9d9d;
    cursor: pointer;
    background-color: rgb(7, 111, 196);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 5px;
    width: 100px;
    height: 35px;
    color: white;
}
.bt:hover{
    transition: .2s;
    background-color: rgb(7, 77, 134);
    
}
@media (max-width: 768px) {
    footer {
     position: relative;
     top: 50%;
    }
}
@media (max-width: 768px) {
    .input  {
        width: 55%;
        position: relative;
        right: 12%;
        background-color: rgba(0, 0, 0, 0)
    }
}
@media (max-width: 768px) {
    .bt {
        position: relative;
        left: 32%;
        margin-top: 24px;
        width: 150px;
        
        
    }
}
.inputt{
    flex-direction: column;
    display: flex;
    align-items: center;
    margin: 25px;
}
.local{
    margin: 20px;
    background-color: rgba(204, 204, 204, 0);
    border: 1px solid black;
    border-color: rgb(0, 0, 0);
    border-radius: 8px;
    height: 40px;
    outline: none;
    width: 200px;

}
.local:focus{
    border-color: rgb(15, 170, 197);
}
.img{
    width: 1415px;
    max-width: 100%;
}

hr{
    border-color: rgba(32, 95, 112, 0.959);
}

@media (max-width: 768px) {
    .dp-menu ul a {
      text-align: center;
      font-size: 11px;
      margin-left: 0;
    }
}
@media (max-width: 768px) {
    hr {
        width: 100%;
        bottom: 15px;
    }
}
.btnn{
    width: 150px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid black;
    background: rgb(7, 111, 196);
    color: #fff;
    cursor: pointer;
}
.btnn:hover{
    background-color: rgb(10, 61, 119);
    transition: 0.2s;
    
}

.d-blockw-100{
    width: 100%;
    min-width: 100%;
    display: flexbox;
    height: 500px;
    margin-top: 100px;
    
}
@media (max-width: 768px) {
    .d-blockw-100 {
    width: 415px;
    height: 158px;
    }
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
* {
  box-sizing: border-box;
}


h1 {
  margin: 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #26384E;
  transform: translateY(20px);
  transition: all 0.4s ease;
  transition-delay: 0.2s;
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media screen and (max-width: 520px) {
  h1 {
    font-size: 16px;
    line-height: 24px;
  }
}

p {
  font-size: 16px;
  line-height: 24px;
  color: #889DB8;
  transform: translateY(20px);
  transition: all 0.4s ease;
  transition-delay: 0.3s;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (max-width: 520px) {
  p {
    font-size: 14px;
    line-height: 20px;
  }
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 1;
  position: relative;
}

.swiper-container {
  background: linear-gradient(270deg, #f7f9ff 0%, #f2f6ff 100%);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 100%;
  position: relative;
  max-width: 420px;
  height: 100%;
  max-height: 420px;
  border-radius: 10px;
  margin: 300px;
  margin-left: 35%;
}

.slider-image-wrapper {
  height: 200px;
  width: 100%;
  overflow: hidden;
}

.slider-item {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  opacity: 0;
  background: linear-gradient(270deg, #f7f9ff 0%, #f2f6ff 100%);
  cursor: -webkit-grab;
  cursor: grab;
}
.slider-item-content {
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.4s;
}
.slider-item-content > * {
  opacity: 0;
  transform: translateY(20px);
}

.swiper-slide-active .slider-item-content > * {
  transform: translateY(0px);
  opacity: 1;
}

.slider-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  transition: 0.2s;
}

.swiper-pagination {
  position: absolute;
  left: 50%;
  bottom: 8px;
  transform: translatex(-50%);
  z-index: 1;
  width: auto !important;
}

.swiper-pagination-bullet {
  border-radius: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  line-height: 30px;
  font-size: 12px;
  opacity: 1;
  background: rgba(255, 185, 0, 0.3);
  display: inline-block;
  margin-right: 8px;
  cursor: pointer;
  transition: all 0.2s;
}

.swiper-pagination-bullet-active {
  background: #FFB200;
  width: 20px;
  border-radius: 10px;
}

.slider-buttons {
  position: absolute;
  display: flex;
  top: 100%;
  justify-content: flex-end;
  width: 100%;
  padding-top: 8px;
}

.swiper-button-next,
.swiper-button-prev {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  color: #fff;
  position: relative;
  margin-left: 4px;
}
.swiper-button-next:before,
.swiper-button-prev:before {
  content: "";
  position: absolute;
  background-color: #fff;
  height: 1px;
  width: 0;
  left: 0;
  bottom: -1px;
  transition: 0.2s;
}
.swiper-button-next:hover:before,
.swiper-button-prev:hover:before {
  width: 100%;
}

.socials {
  position: fixed;
  top: 12px;
  right: 16px;
  display: flex;
  align-items: center;
}
.socials .social-link {
  display: inline-block;
  margin-left: 8px;
  color: #fff;
}

@media screen and (max-width: 520px) {
  .swiper-button-next:hover:before,
.swiper-button-prev:hover:before {
    display: none;
  }
}
@media (max-width: 768px) {
  .swiper-container {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     position: relative;
     width: 50%;
     right: 52%;
     margin: 77%;
  }
}
@media screen and (max-width: 520px) {
  body {
    height: 1vh;
    margin: 0;
    
  }
}